/* /Components/Info.razor.rz.scp.css */

.card_info[b-bjcdp8muyh] {
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.card_info .card[b-bjcdp8muyh] {
    font-size: 18px;
}

.card p[b-bjcdp8muyh] {
    letter-spacing: 0.3px;
    margin-top: 20px;
}
/* /Components/Table.razor.rz.scp.css */
.table_container[b-kjbty8bh5u] {
    font-size: 18px;
    margin-top: 50px;
}

.table[b-kjbty8bh5u] {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

table caption[b-kjbty8bh5u] {
    padding: 5px 0;
}

table input[b-kjbty8bh5u] {
    text-align: center;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 5px;
    width: 70px;
    margin: 3px;
}

table[b-kjbty8bh5u] {
    width: auto;
    border-spacing: 10px;
}

table tr[b-kjbty8bh5u] {
    display: flex;
    justify-content: space-around;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.navbar[b-drwk0dbsmi] {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /*  */
}

.navbar .logo[b-drwk0dbsmi] {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.navbar .info a[b-drwk0dbsmi] {
    font-size: 16px;
    margin: 25px 10px;
}

.navbar .info a:hover[b-drwk0dbsmi] {
    text-decoration: underline;
}

.page[b-drwk0dbsmi] {
    padding-top: 75px;
    display: flex;
}

.sidebar[b-drwk0dbsmi] {
    height: 100vh;
}

.main[b-drwk0dbsmi] {
    width: 100%; 
}
/* /Shared/NavMenu.razor.rz.scp.css */
.menu_tools[b-3hg7mccv9y] {
    background: rgb(255, 255, 255);
    height: 200px;
    width: 300px;
}

.menu_tools ul[b-3hg7mccv9y] {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.menu_tools ul li[b-3hg7mccv9y] {
    padding: 10px 0;
}
