@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.param {
    display: flex;
    justify-content: space-between;
}

.param_panel {
    display: flex;
    flex-direction: column;
}

.inputs div {
    font-size: 18px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    font-size: 17px;
    padding: 3px 20px;
}

div input {
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 17px;
    padding: 5px;
}

input[type="number"]:focus, select:focus {
	outline: 1px solid rgb(226, 84, 41);
}

.sfu_button {
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-size: 16px;
    background: rgb(226, 84, 41);
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(2px);
}

input[type="checkbox"]
{
    width: auto;
    transform: scale(1.2);
}

.param_panel select {
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.toogle  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 270px;
}

.toogle button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;   
    font-weight: bold; 
}

.info {
    display: flex;
    align-items: center;
    background-color: #0d9488;  /* teal 600 из tailwind */
    width: 520px;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
}



.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
