@inherits LayoutComponentBase

<div class="navbar">
    <div class="logo">
        <img src="https://i.postimg.cc/ncSZSFnx/logo-sfu-2.png" alt="sfu_logo">
        <span class="logo_text">Сервис автоматизации расписания</span>
    </div>
    <div class="info">
        <a href="#">GitHub</a>
        <a href="#">О сервисе</a>
    </div>
</div>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="content">
            @Body
        </div>
    </div>
</div>
