<div class="sidebar_menu">
    <div class="menu">
        <ul>
            <li>
                <NavLink>
                    <div class="sidebar_link">
                        <span class="material-icons-outlined">edit</span>
                        <a href="createtable">Создать таблицу</a>
                    </div>
                </NavLink>
            </li>
            <li>
                <div class="sidebar_link">
                    <span class="material-icons-outlined">settings_suggest</span>
                    <a href="options">Доп. параметры</a>
                </div>
            </li>
            <li>
                <div class="sidebar_link">
                    <span class="material-icons-outlined">calendar_view_month</span>
                    <a href="">Расписание</a>
                </div>
            </li>
        </ul>
    </div>
</div>