
<div class="menu_tools">
    <ul>
        <li>
            <NavLink>
                <a href="createtable">Создать таблицу</a>
            </NavLink>
        </li>
        <li>
            <a href="">Доп. параметры</a>
        </li>
        <li>
            <a href="">Расписание</a>
        </li>
    </ul>
</div>